<div class="top-wrapper">
  <div class="p-grid">
    <div class="p-col-6">
      <h1>Nuovo configuratore</h1>
    </div>
    <div class="p-col-6">
      <button
        class="p-button p-button-secondary pull-right p-mr-2"
        pButton
        icon="fa fa-arrow-left"
        label="Torna indietro"
      ></button>
      <button
        class="p-button p-button-primary pull-right p-mr-2"
        pButton
        icon="fa fa-floppy-o"
        label="Salva"
      ></button>
    </div>
  </div>
</div>

<div class="wrapper">
  <p-card>
    <p-tabView>
      <p-tabPanel header="Header 1">
        <div class="p-grid form-group">
          <div class="p-col-2">
            <label>UUID</label>
          </div>
          <div class="p-col-10">
            <div class="p-grid">
              <div class="p-col">
                <input type="text" pInputText />
              </div>
              <div class="p-col">
                <input type="text" pInputText />
              </div>
              <div class="p-col">
                <input type="text" pInputText />
              </div>
              <div class="p-col">
                <input type="text" pInputText />
              </div>
            </div>
          </div>
        </div>

        <div class="p-grid form-group">
          <div class="p-col-2">
            <label>UUID</label>
          </div>
          <div class="p-col-10">
            <input type="text" pInputText />
          </div>
        </div>

        <div class="p-grid form-group">
          <div class="p-col-2">
            <label>UUID</label>
          </div>
          <div class="p-col-10">
            <input type="text" pInputText />
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Header 2"> Content 2 </p-tabPanel>
      <p-tabPanel header="Header 3"> Content 3 </p-tabPanel>
    </p-tabView>
  </p-card>
</div>
